<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename = 'apple-icon-180x180.png') }}">
  <link href="{{ url_for('static', filename = 'favicon.ico') }}" rel="icon">

  <title>Title page</title>  

<link href="{{ url_for('static', filename = 'css/main.d8e0d294.css') }}" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('{{ url_for('static', filename = 'images/img-01.jpg') }}')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Saishunkan System Vietnam</h1>
      <p>Demo Sensor Raspberry Pi 4</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://facebook.com/" title="">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://twitter.com/" title="">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://dribbble.com/" title="">
          <i class="fa fa-dribbble"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/" title="">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://vimeo.com/" title="">
          <i class="fa fa-vimeo"></i>
        </a>
      </p>
    </div>
  </header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>Welcome to Saishunkan System!</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="{{ url_for('static', filename = 'images/img-01.jpg') }}" class="img-responsive" alt="" id="recognition" ></p>
              </div>
			  <div class="col-md-8" >
				  <h3>Nhiệt độ hiện tại: <span id="spantemperature" ></span> °C</h3>
				  <h3>Độ ẩm hiện tại: <span id="spanhumidity"></span> %</h3>
              </div>
              <div class="col-md-8" id="welcomeS" >
				  <h3>Xin chào</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Sensor</h2>
            <div class="row">
              <div class="col-md-4">
                <img src="{{ url_for('static', filename = 'images/img-02.jpg') }}" class="img-responsive" alt="">
                <h3 class="h5">Amelia App</h3>
                <p>June 2017</p>
              </div>
              <div class="col-md-4">
                <img src="{{ url_for('static', filename = 'images/img-03.jpg') }}" class="img-responsive" alt="">
                <h3 class="h5">Portland</h3>
                <p>March 2017</p>
              </div>
              <div class="col-md-4">
                <img src="{{ url_for('static', filename = 'images/img-04.jpg') }}" class="img-responsive" alt="">
                <h3 class="h5">Denz for Nilon</h3>
                <p>Jan 2017</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Add face</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="{{ url_for('static', filename = 'images/img-01.jpg') }}" class="img-responsive" alt="" id="imageGenerator" ></p>
              </div>
              <div class="col-md-8">
                  <form id="formGenerator" method="POST" action='#' class="reveal-content">
                      <div class="form-group">
                        <input type="text" class="form-control" name="first_name" placeholder="First Name">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                      </div>
                      <div class="form-group">
                        <input type="hidden" class="form-control" name="persion_id" id="persion_id" value="0">
                        <button type="submit" class=" btn btn-primary" name="submit">Submit</button>
                      </div> 
                  </form>
              </div>
            </div>
          </div>
        </div>
        

        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2017-2015</small>
                  <h3 class="h5 date-title">Design Master</h3>
                  <p>Chicago University</p>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2015-2012</small>
                  <h3 class="h5 date-title">Metrics Degree</h3>
                  <p>Ecole 87</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2012-2011</small>
                  <h3 class="h5 date-title">Motion Design Course</h3>
                  <p>Pascal’s Lee Studio</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Language</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">English  <small>Bilingual</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">French  <small>Fluent</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Russian  <small>Beginner</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="{{ url_for('static', filename = 'images/img-05.jpg') }}" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Jules for Bastion</h3>
                  <p>2017</p>
                </div>
              </div>
              <div class="item">
                <img src="{{ url_for('static', filename = 'images/img-06.jpg') }}" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Jules for Bastion</h3>
                  <p>2017</p>
                </div>
              </div>

              <div class="item">
                <img src="{{ url_for('static', filename = 'images/img-08.jpg') }}" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Jules for Bastion</h3>
                  <p>2017</p>
                </div>
              </div>
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

          </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Social Network</h2>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://twitter.com/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-twitter"></i></span>@David_Folley</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.linkedin.com/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-linkedin"></i></span>David Folley</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://dribbble.com/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-dribbble"></i></span>David Folley</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Contact</h2>
            <form action="" class="reveal-content">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Enter your message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class=" btn btn-primary">Send message</button>
              </div> 
            </form>
          </div>
        </div>
       
     </div>
   </div>
 </div>

</main>
<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><img src="{{ url_for('static', filename = 'images/mashup-icon.svg') }}" alt=""></p>
        
        <p>©All right reserved. Design <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
        <p>
          <a class="fa-icon fa-icon-2x" href="https://facebook.com/" title="">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://twitter.com/" title="">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://dribbble.com/" title="">
            <i class="fa fa-dribbble"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/" title="">
            <i class="fa fa-linkedin"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://vimeo.com/" title="">
            <i class="fa fa-vimeo"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/main.bc58148c.js') }}"></script></body>
<script>
    var socket = io('');
    sid = '';
    $(document).ready(function(){
      socket.emit('connect');
      socket.emit('tempandhumldty');

    });
    socket.on('sid_response', function(msg, cb) {
        sid = msg.data;
        $('#recognition').attr('src','/recognition/' + sid + '?' + Date.now());
        if (cb)
            cb();
    });
    // Handlers for the different forms in the page.
    // These accept data from the user and send it to the server in a
    // variety of ways
    $('form#formGenerator').submit(function(event) {
      var data = {};
      $.each($(this).serializeArray(), function(_, kv) {
        data[kv.name] = kv.value;
      });
      socket.emit('persion_add', {'data': data });
      return false;
    });
    // Event handler for server sent data.
    // The callback function is invoked whenever the server emits data
    // to the client. The data is then displayed in the "Received"
    // section of the page.
    socket.on('persion_add_response', function(msg, cb) {
        if(msg.status === 'success') {
          $('#formGenerator input[name="first_name"]').attr('disabled', true);
          $('#formGenerator input[name="last_name"]').attr('disabled', true);
          $('#formGenerator button[name="submit"]').attr('disabled', true);
          $('#formGenerator input[name="persion_id"]').val(msg.data.persion_id);
		  $('#recognition').attr('src', '{{ url_for('static', filename = 'images/img-01.jpg') }}');
          $('#imageGenerator').attr('src','/data_generate_face/' + sid +'/' + msg.data.persion_id);
        }
        if (cb)
            cb();
    });
	// Event handler for server sent data.
    // The callback function is invoked whenever the server emits data
    // to the client. The data is then displayed in the "Received"
    // section of the page.
    socket.on('tempandhumldty_response', function(msg, cb) {
        $('#spantemperature').html(msg.data.temperature);
		$('#spanhumidity').html(msg.data.humidity);
        if (cb)
            cb();
    });
    // Event handler for server sent data.
    // The callback function is invoked whenever the server emits data
    // to the client. The data is then displayed in the "Received"
    // section of the page.
    socket.on('socket_generate_face_finish', function(msg, cb) {
        if (msg.status === 'finish') {
          $('#formGenerator input[name="first_name"]').attr('disabled', false);
          $('#formGenerator input[name="last_name"]').attr('disabled', false);
          $('#formGenerator button[name="submit"]').attr('disabled', false);
          $('#formGenerator input[name="persion_id"]').val('0');
          $('#formGenerator input[name="last_name"]').val('');
          $('#formGenerator input[name="first_name"]').val('');
          $('#imageGenerator').attr('src', '{{ url_for('static', filename = 'images/img-01.jpg') }}');
		  $('#recognition').attr('src','/recognition/' + sid + '?' + Date.now());
        }
        if (cb)
            cb();
    });
	socket.on('recognition_finish', function(msg, cb) {
		$.each(msg.data, function(index, value) {
			if(index > 0) {
				$("#welcomeS").append("<p>và</p>");
			}
		$("#welcomeS").append("<h2>" + value.first_name + " " + value.last_name + "</h2>");
		});
		$('#recognition').attr('src', '{{ url_for('static', filename = 'images/img-01.jpg') }}');
		setTimeout(function(){ 
			$('#recognition').attr('src','/recognition/' + sid + '?' + Date.now());
			$("#welcomeS h2").remove();
		}, 5000);
        if (cb)
            cb();
    });
</script>

</html>